<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.spark.myapplication">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".movie_homepage"
                android:label="@string/movies">
        </activity>
        <activity
                android:name=".johnwick"
                android:label="@string/johnwick">
        </activity>
        <activity
                android:name=".captainmarvel"
                android:label="@string/marvel">
        </activity>
        <activity
                android:name=".aquaman"
                android:label="@string/aquaman">
        </activity>
        <activity
                android:name=".godzilla"
                android:label="@string/godzilla">
        </activity>
        <activity android:name=".signup">
        </activity>

        <provider
                android:name=".RatingsProvider"
                android:authorities="com.example.spark.myapplication.PROVIDER"
                android:enabled="true"
                android:exported="true">
        </provider>

        <activity android:name=".addmovies">
        </activity>
    </application>

</manifest>